extends layout



block content

    style.
        a {
            color: #0f0f0f;
        }
    ul.list-group
        li.list-group-item
            span.align-content-center
                a(href='/results/1/') Zastep I
        li.list-group-item
            span.align-content-center
                a(href='/results/2/') Zastep II
        li.list-group-item
            span.align-content-center
                a(href='/results/I/') Zastep III
        li.list-group-item
            span.align-content-center
                a(href='/results/II/') Zastep IV
        li.list-group-item
            span.align-content-center
                a(href='/results/III/') Zastep V
        li.list-group-item
            span.align-content-center
                a(href='/results/mlodziezowa/') Zastep VI
        li.list-group-item
            span.align-content-center
                a(href='/results/mlodziezowa/') Zastep VII
        li.list-group-item
            span.align-content-center
                a(href='/results/mlodziezowa/') Zastep VIII